@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
:root{
    --main-color:#800000;
}

*{
    font-family: 'Nunito', sans-serif;;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}




html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #000000;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}





body{
    background: #ccc6c6;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-left: 1rem;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    margin-bottom: 1rem;
}
.btn:hover{
    background: var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #400000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.5rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);

}



#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}



.home .content{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h3{
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .home-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width: 35rem;
}

.home .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home .swiper-container{
    margin-top: 10vh;
    margin-bottom: 5vh;
}


#About-us{
    background-color: #400000;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
}
#About-us .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#About-us h3{
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
}
#About-us h3 span{
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
}
#About-us p{
    font-size: 2rem;
    text-align: center;
}
#Scores{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#Scores h3{
    font-size: 3rem;
    text-align: center;
}
.Score{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Scores .table{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
}
#Scores table tbody tr td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
#Scores table tbody tr td,th{
    padding: 1rem;
    border-bottom: 1px solid #222;
}



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #400000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #666;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}





@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){
    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background: #222;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1.3rem;
        font-size: 2rem;
    }
    .home .content h3{
        font-size: 4rem;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .footer-col{
        width: 100%
    }
    .home .home-slider .swiper-slide{
        width: 27rem;
    }
}


