*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 5vh;
}
.images{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5vh;
    text-align: center;
}   
.img{
    display: table;
    width: 400px;
    height: 700px;
    object-fit: cover;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.description {
    text-align: center;
}
